<div class="banner">
  <h3 class="header"><i class="logo-color fa-solid fa-fire"></i>&nbsp;Hi <%= current_user.first_name %></h3>
</div>
<div class="container">

  <h2 class="header-dash">MyBookings</h2>
  <% @rentals.each do |rental| %>
    <% item = rental.item %>
    <%= link_to item_path(item) do %>
      <div class="card-equipment mb-4 d-flex border-2 rounded-4">
        <%= image_tag(item.image_url, alt: "a nice sports item", class: "index-image") %>
        <div class="ms-4 align-items-column">
          <h5 class="mt-4"><%= item.name %></h5>
          <p class="card_details_dashboard">Return by <%= rental.end_date %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>

  <h2 class="header-dash">MyGear</h2>
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <div class="card-equipment mb-4 d-flex border-2 rounded-4">
        <%= image_tag(item.image_url, alt: "a nice sports item", class: "index-image") %>
          <div class="ms-4 align-items-column">
            <h5 class="mt-4"><%= item.name %></h5>
            <p><strong><%= item.price %></strong>€ week</p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
<br>
<br>
<%= render "pages/shared/navbar" %>
