  <div class="banner">
    <h3 class="header"><i class="logo-color fa-solid fa-fire"></i> GearMeNow</h3>
  </div>

<%= render "pages/shared/search" %>

    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
          <div class="big_card">
            <%= image_tag(item.image_url, alt: "a nice sports item", class: "index-image rounded-4") %>
            <div class="card_details">
              <h2 class="title"><%= item.name %></h2>
              <p><strong><%= item.price %></strong>€ week</p>
            </div>
          </div>
      <% end %>
    <% end %>
    <br>
    <br>
    <br>

<%= render "pages/shared/navbar" %>
