<div class="banner">
  <h3 class="header"><i class="fa-solid fa-fire"></i> GearMeNow</h3>
</div>

<div class="search-bar">
  <form>
    <input class="input-box-solid"type="text" placeholder="Search..." name="search">
    <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
        <div class="big_card">
          <%= image_tag(item.image_url, alt: "a nice sports item", class: "index-image rounded-4") %>
          <div class="card_details">
            <h2 class="title"><%= item.name %></h2>
            <p><strong><%= item.price %></strong>€ week</p>
          </div>
        </div>
     <% end %>
  <% end %>
  <br>

<%= render "pages/shared/navbar" %>
