<div class="card m-3 rounded-4 p-3 d-flex align-items-center">
<h3 class="header-new"><i class="fa-solid fa-fire"></i> AddGearNow</h3>
      <%= simple_form_for(@item) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price%>
      <%= f.input :image_url %>
      <%= f.submit 'Create', class: 'form-actions', id: 'btn-signup' %>
    <% end %>

  <%= link_to root_path do %>
    <i class="icon-show-back fa-solid fa-circle-chevron-left mt-3 mb-3"></i>
  <% end %>
</div>
