<div class="container spacing">
  <%= image_tag(@item.image_url, alt: "a nice sports item", class: "show-image mt-3 rounded-4") %>
    <div class="header-show m-2">
      <h2><%= @item.name %></h2>
      <p><strong><%= @item.price %></strong>€ week</p>
    </div>
    <div class="info mb-3 mt-3">
      <p><%= @item.description %></p>
      <hr style="width:100%;text-align:left;margin-left:0">
      <% if current_user == @item.user %>
        <p>Leased by <strong>You</strong></p>
      <% else %>
        <p>Leased by <strong><%= "#{@item.user.first_name.capitalize} #{@item.user.last_name.capitalize}" %></strong></p>
      <% end %>
    <hr style="width:100%;text-align:left;margin-left:0">
    </div>
  <%# Options to edit %>
  <% if current_user == @item.user %>
    <%= link_to 'Edit this item', edit_item_path(@item) %>
    <hr style="width:100%;text-align:left;margin-left:0">
    <%= link_to 'Delete this item', item_path(@item), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
  <% else %>
  <%# New Reservation %>
    <%= simple_form_for([@item, @rental]) do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit "Book", class:"btn-create" %>
    <% end %>
  <% end %>

  <div style="width: 100%; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

<%= render "pages/shared/navbar" %>
